{% extends 'base.html.twig' %}

{% block favorite_menu %}active{% endblock %}

{% block title %}Les favoris
{% endblock %}

{% block body %}
	<!-- main -->

	<div class="container-xl bg-light p-5 border-top">

		<div class="row mb-2">

			<h2 class="text-muted fw-bold mb-4">Ma liste</h2>

			{# <div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>A bug's life</strong>
				a été ajouté à votre liste de favoris.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div> #}
			{# Lien vers la doc : https://symfony.com/doc/5.4/session.html#flash-messages #}
			{# label correspond au premier argument fournis à addflashes #}
			{# messages correspond à notre tableau de message lié au label #}
			{% for label, messages in app.flashes %}
				{# on boucle une deuxieme pour afficher les messages vu que c'est des tableaux #}
				{% for message in messages %}
				<div class="alert alert-{{label}} alert-dismissible fade show" role="alert">
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
				{% endfor %}
			{% endfor %}

			{% for key,movie in favorites %}
				
			
			<div class="col-6">

				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
					<div class="col-4 movie__poster" >
						<img
						src="{{movie.poster}}" class="img-fluid">
					<!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
					</div>
					<div class="col-8 p-4 d-flex flex-column position-static">
						<a href="{{path("app_favorite_remove", {id:key})}}" class="movie__favorite fs-1 my-2 mx-3 link-danger">
							<i class="bi bi-bookmark-x-fill"></i>
						</a>
						<strong class="d-inline-block mb-2 text-primary">{{movie.type}}</strong>
						<h3 class="mb-1">{{movie.title}}</h3>
						<div class="mb-1 text-muted">{{movie.duration}} min</div>
						<a href="{{path("app_movie_show",{id:key})}}" class="fs-1 mt-3 text-danger align-self-start">
							<i class="bi bi-arrow-right-square"></i>
						</a>
					</div>
				</div>

			</div>
		{% endfor %}
		</div>

		<div class="col">
			<a href="{{path("app_favorite_empty")}}" class="btn btn-danger btn-sm" onclick="return confirm('Vider votre liste de favoris ?');">Vider la liste</a>
		</div>

	</div>

{% endblock %}
